body {
  margin: 0px;
  padding: 0px;
}
.App {
  font-family: Poppins;
  text-align: center;
  text-transform: uppercase;
}
nav {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
nav > p {
  padding: 0 10px;
  font-size: 13px;
}
.hero-section {
  width: 100%;
  color: white;
  height: 300px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://assets.codepen.io/6060109/agency-hero-image.png);
  background-size: cover;
  position: relative;
}
.hero-section > h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}
.services-section {
  height: 300px;
  margin: 50px 0;
  box-sizing: border-box;
}
.services-section > h2 {
  color: #153488;
}
.service-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}
.service-block {
  width: 30%;
  margin: 0 20px;
}
.service-block > img {
  width: 100%;
}
.service-block p {
  text-align: left;
  font-weight: bold;
  color: #806c6c;
  font-size: 12px;
}
